.purchased-products {
  padding: 50px;
}

.purchased-products--head {
  border: 1px solid lightgrey;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.purchased-products--head > :nth-child(2) {
  padding-left: 27%;
}

@media only screen and (max-width: 800px) {
  .purchased-products--head {
    display: none;
  }

  .purchased-products-list {
    display: flex;
    flex-flow: row wrap;
  }

  .purchased-products-list > * {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .purchased-products-list > * {
    flex-basis: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .purchased-products-list > * {
    margin-left: 0;
    margin-right: 0;
  }
}
