:root {
  --hover-red: #d11740;
  --light-purple: #717fe0;
  --dark-red: #92293b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: initial;
}

.App {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}
