body{
    font-family: 'Maven Pro', sans-serif;
    background-color: whitesmoke;
    margin:0;
    padding: 0;


}
.main-nav {
    list-style: none;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 100px 100px 100px 100px 600px 100px 100px 100px;
    text-align: center;
    margin: 0;
    margin-top:30px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    opacity: 1;
    transition: 0.3s;
}
a:hover{
    color: rgb(77, 70, 143);
    opacity: 0.6;
}
hr{
    width: 92%;
    margin-left: 5.3%;
    margin-top: 30px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(187, 187, 187);
}
.mid-nav{
    list-style: none;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 160px 730px 100px 100px 100px 100px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}
.mid-nav li:nth-child(3){
    color: rgb(158, 157, 157);
}
.sidebar-form{
    display: grid;
    grid-template-columns: 30px 100px;
    margin-left: 5.3%;
    margin-top: 30px;
    cursor: pointer;
    letter-spacing: 2px;
    color: rgb(97, 93, 93);
}
.sidebar-form ,input, span{
    margin-top: 10px;
}
.category{
    margin-left: 5.3%;
    cursor: pointer;
    color: black;
    font-weight: bold;
    margin-top: 50px;
    
}
.prize{
    margin-left: 5.3%;
    color: black;
    font-weight: bold;
    cursor: pointer;

}
.slider{
    width: 140px;
    margin-left: 5.3%;
    margin-top: 30px;
}