.pictureModel {
  position: relative;
    border: 3px #f3f3f3 solid;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s linear;
    cursor: pointer;
    background-color: #f3f3f3;
    padding: 10px;
    max-width: 220px;
    text-align: left;
    margin: 0 auto; 
    margin-bottom: 30px;
    display: block;
    overflow: hidden;
  }
    .pictureModel:hover {
      background-color: #f3f3f3;
      border-color: #f3f3f3;
      bottom: 10px;
    }
    .pictureModel img {
      max-width: calc(100%);
      margin: 0 auto;
      display: block; }
    .pictureModel .index {
      background-color: rgba(0, 0, 0, 0.2);
      color: #fff;
      line-height: 20px;
      font-size: 14px;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      padding: 0 10px; }
    .pictureModel .productPrice {
      margin: 0;
      padding: 10px 0;
      font-weight: bold; }
    .pictureModel .details {
      position: relative;
      width: calc(100% - 30px); }

    .productName {
      margin-top: 30px;
    }


    .pictureModel-quickview {
      display: inline-block;
      display: flex;
      border-radius: 20px;
      background-color: #fff;
      min-width: 139px;
    height: 40px;
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.466667;
    color: #333;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);

    }


    .pictureModel-quickview:hover {
    border-color: #222;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    bottom: 10px;
    
    }

    a {
      cursor: pointer;
      touch-action: manipulation;
    }




    .pictureModel img {
      width: 100%;
      -webkit-transition: transform 0.9s ease;
      -o-transition: transform 0.9s ease;
      -moz-transition: transform 0.9s ease;
      transition: transform 0.9s ease;
    }

    .pictureModel:hover img {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }