.user-message {
  width: 500px;
  height: 300px;
  border: 1px solid rgb(75, 74, 74);
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
}
.res-messages {
  height: 650px;
  border: 1px solid rgb(187, 182, 182);
  margin: 0 auto;
  color: #fff;
  background: none;
  background: var(--hover-red);
  box-shadow: 10px 10px 40px -10px rgba(5, 5, 5, 0.57);
  -moz-box-shadow: 10px 10px 40px -10px rgba(5, 5, 5, 0.57);
  transition: all 0.3s ease 0s;
}
.user-message:hover {
  border: 1px solid white;
  transition: all 300ms ease;
  background: #c2163b;
}
.usermsg {
  color: black;
  font-size: 23px
}
@media only screen and (max-width: 579px) {
  .user-message {
    width: 300px;
  }

}
