.product-img {
  margin: 0 auto;
  width: 350px;
  height: 200px;
  color: #fff;
  background: none;
  background: var(--hover-red);
  box-shadow: 10px 10px 40px -10px rgba(5, 5, 5, 0.57);
  -moz-box-shadow: 10px 10px 40px -10px rgba(5, 5, 5, 0.57);
  transition: all 0.3s ease 0s;
  border-radius: 20px;
  margin-top: 40px;
  background-image: url("oof.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}
.usermsg{
    margin-bottom: 40px;
}
.product-details-list{
  list-style-type: none;
  text-align: center;
  margin-top: 40px;
  font-size: 23px;
  color: #000;

}
.product-details-li{
  margin-top: 20px;
}
.product-details-li span{
  color: white
}
@media only screen and (max-width: 402px) {
  .product-img {
    width: 250px;
  }
}
