.cart--wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
  z-index: 100 !important;
}

.cart--visible {
  visibility: visible !important;
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.cart--visible + .cart {
  transform: translateX(0) !important;
  z-index: 1000 !important;
}

.cart {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0 60px;
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  transform: translateX(100%);
  transition: all 500ms cubic-bezier(0.62, 0.51, 0.51, 1.04);
}
