.flex-container {
  display: flex;
  flex-wrap: nowrap;

  border-top: 1px solid rgb(175, 172, 172);
  margin-top: 20px;
}
.flex-container > div {
  width: 300px;
  margin: 30px auto;
}

.footer-li,
.footer-paragraph {
  color: gray;
  cursor: pointer;
  list-style-type: none;
}
.footer-paragraph {
  margin-top: 30px;
}
.footer-li:nth-child(1) {
  margin-top: 30px;
}

.footer-li:hover {
  color: rgb(197, 27, 27);
}
@media only screen and (max-width: 822px) {
  .flex-container {
    display: inherit;
    background-color: rgb(48, 48, 48);
  }
  .footer-li,
  .footer-paragraph,
  .footer-text {
    text-align: center;
    width: 350px;
  }
  .footer-text {
    color: white;
  }
}

@media only screen and (max-width: 661px) {
  .footer-li,
  .footer-paragraph,
  .footer-text {
    text-align: center;
    width: 350px;
  }
}
@media only screen and (max-width: 528px) {
  .footer-li,
  .footer-paragraph,
  .footer-text {
    text-align: center;
    width: 250px;
  }
}
