.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 80px;
  margin-right: 30px;
}
.flex-container > div {
  width: 250px;
  margin: 10px;

}
.footer-li,.footer-paragraph{
  color:gray;
  cursor: pointer;
  list-style-type: none;
}
.footer-paragraph{
  margin-top: 30px;
}
.footer-li:nth-child(1){
  margin-top: 30px;
}

.footer-li:hover {
  color: rgb(197, 27, 27)
}

