.checkout {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 50px;
}

.checkout__total--wrapper {
  border: 1px solid lightgrey;
  padding: 30px 50px;
}

.checkout--total {
  padding: 30px 0;
}

.checkout__total--title {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 30px;
  border-bottom: 1px dashed lightgrey;
}

.checkout__shipping {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.shipping-cost {
  padding-right: 20px;
}

.checkout--balance--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.checkout-cart-btn {
  width: 100%;
  padding: 15px;
  background: none;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  transition: background 200ms,
    color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.checkout-cart-btn:hover {
  background-color: var(--hover-red);
}

.checkout-cart-btn.disabled {
  background-color: lightgrey;
  cursor: not-allowed;
}

.checkout--total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.checkout__cart--head {
  border: 1px solid lightgrey;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 715px;
}

.checkout__cart--head > span:nth-child(2) {
  padding-left: 115px;
}
