:root {
  --columns: 3;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  flex-grow: 1;
}

.prod-card {
  flex-basis: calc(100% / var(--columns));
  padding: 0 10px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}


.no-product {
  flex-basis: 100%;
  text-align: center;
}